body{
    margin:0;
    padding:0;
    background-image:url("img/kalipg.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
}